@import "tailwindcss";

/* Typography */
.prose .ql-align-center {
  text-align: center;
  display: block; 
}
.prose .ql-align-right {
  text-align: right;
  display: block;
}
.prose .ql-align-justify {
  text-align: justify;
  display: block;
}

.prose .ql-align-center img {
  margin-left: auto;
  margin-right: auto;
  display: block; 
}

.prose img {
  max-width: 100%;    
  height: auto;       
  border-radius: 8px; 
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5); 
  display: block;     
  margin: 1.5em auto; 
}

.prose iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
  margin: 1.5em 0;
}

.prose {
  overflow-wrap: break-word !important;
  word-wrap: break-word !important; 
  word-break: normal !important;    
  white-space: normal !important
}
.prose p, 
.prose span, 
.prose div, 
.prose li,
.prose a {
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  word-break: normal !important; 
}

.prose a {
  word-break: break-all !important; /* Fallback */
}
/* End Typography */

@layer components {
  .card {
    @apply bg-[#102034] rounded-xl p-5 border border-[#26364a] shadow-md;
  }

  .card-btn {
    @apply flex items-center gap-2 px-3 py-1.5 bg-[#0f172a] text-[#bec6e0] rounded-md hover:bg-[#1b2b3f] transition-colors border border-[#45464d];
  }
  .add-btn {
    @apply px-3 py-2 bg-[#4edea3] text-[#003824] rounded-lg hover:bg-[#6ffbbe] font-semibold transition-colors;
  }
  .add-btn-fill {
    @apply flex items-center justify-center gap-1;
  }
}

body {
  font-family: 'Inter', 'Geist', 'Outfit', sans-serif;
  background-color: #0B1121; 
  color: #94A3B8;            
  overflow-x: hidden;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #4edea3; 
}

h1, h2, h3, h4, h5, h6 {
  color: #E2E8F0;
}

/* Custom scrollbar cho react-select dropdown */
.react-select__menu::-webkit-scrollbar {
  width: 6px;
}
.react-select__menu::-webkit-scrollbar-thumb {
  background-color: #45464d;
  border-radius: 3px;
}
.react-select__menu::-webkit-scrollbar-track {
  background: #0b1c30;
}
.react-select__menu-list {
  max-height: 180px !important;
  overflow-y: auto !important;
  background-color: #102034 !important;
  color: #d3e4fe !important;
}
/* End Custom scrollbar */